body{
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}
h1{
    font-size: 100;
}
.To{
    color: rgba(119, 4, 78, 0.671);
}
.cooking{
    color: darkmagenta;
}
.half-width{
    width: 35%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 2%;
}
.half-width img{
    width: 100%;

}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
}